<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ .Site.Params.Description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item {{ if eq .URL "/" }} active {{ end }}" href="/">Home</a>
    <a class="sidebar-nav-item" href="/about/">About</a>
    <a class="sidebar-nav-item" href="/archives/">All Posts</a>
    <a class="sidebar-nav-item" href="/categories/">Categories</a>
    <a class="sidebar-nav-item" href="/tags/">Tags</a>
    <a class="sidebar-nav-item" href="/subscribe/">Subscribe</a>
  </nav>

  <div class="sidebar-item">
    <p>
      <a href="https://github.com/{{ .Site.Params.GitHubUser }}"><i class="fa fa-github fa-3x"></i></a>
      <a href="https://www.linkedin.com/in/{{ .Site.Params.LinkedInUser }}"><i class="fa fa-linkedin-square fa-3x"></i></a>
      <a href="https://twitter.com/{{ .Site.Params.TwitterUser }}"><i class="fa fa-twitter fa-3x"></i></a>
      <a href="/feed.xml"><i class="fa fa-rss fa-3x"></i></a>
    </p>
  </div>

  <div class="sidebar-item">
    <p>&copy; {{ .Site.LastChange.Year }}. All rights reserved.</p>
  </div>
</div>
