{{ partial "default_head.html" . }}

<div class="page">
  <h1 class="page-title">404</h1>
  <p>Oops! Sorry, we&rsquo;ve misplaced that URL or it&rsquo;s pointing to something that doesn&rsquo;t exist.</p>
  <ul>
  <li><a href="/tags/">Browse all the content tags</a> and the posts associated with each tag.</li>
  <li><a href="/categories/">Browse all the categories</a> and the posts within each category.</li>
  </ul>
  <p><a href="/">head back home</a> to try finding it again.</p>
</div>

{{ partial "default_foot.html" . }}
